:root {
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);
  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);
  font-size: 13px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  font-family: 'Barlow Semi Condensed', sans-serif;
 font-weight: 500;
 background: var(--Grey-100);
 color: var(--White);
 
}
.testimonial-grid{
    padding: 2rem;
    margin: 2rem 0px;
    gap: 1rem;
    display: grid;
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0px;
    padding: 3rem;
    border-radius: 10px;
}
.card__avatar-wrapper{
    width: 50px;
    img{
        width: 100%;
        border-radius: 50%;
        border: 3px solid transparent;
    }
}
.card--purple{
    background: var(--Purple-500);
    img{
        border-color: var(--Purple-300);
    }
}
.card__title{
    font-size: 1.5rem;
}
.card__quote{
    font-size: 1.15rem;
    line-height: 1.5rem;
}
.card--dark{
    background: var(--Grey-500);
    color: var(--Grey-200);
    img{
        border-color: var(--Grey-400);
    }
}.card--white{
    background: var(--White);
    color: var(--Grey-400);
    img{
        border-color: var(--White);
    }
}.card--blue{
    background: var(--Dark-blue);
    img{
        border-color: var(--Purple-500);
    }
}.card--white{
    background: var(--White);
    color: var(--Grey-400);
    img{
        border-color: var(--Purple-300);
    }
}
.card__header{
 display: flex;
 gap: 1rem;
 align-items: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
